@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .bg-primary {
    background-color: hsl(var(--primary) / 1);
  }
  
  .text-primary {
    color: hsl(var(--primary) / 1);
  }
  
  .bg-primary-foreground {
    background-color: hsl(var(--primary-foreground) / 1);
  }
  
  .text-primary-foreground {
    color: hsl(var(--primary-foreground) / 1);
  }
  
  .bg-secondary {
    background-color: hsl(var(--secondary) / 1);
  }
  
  .text-secondary {
    color: hsl(var(--secondary) / 1);
  }
  
  .bg-secondary-foreground {
    background-color: hsl(var(--secondary-foreground) / 1);
  }
  
  .text-secondary-foreground {
    color: hsl(var(--secondary-foreground) / 1);
  }
  
  .bg-destructive {
    background-color: hsl(var(--destructive) / 1);
  }
  
  .text-destructive {
    color: hsl(var(--destructive) / 1);
  }
  
  .bg-destructive-foreground {
    background-color: hsl(var(--destructive-foreground) / 1);
  }
  
  .text-destructive-foreground {
    color: hsl(var(--destructive-foreground) / 1);
  }
  
  .border-input {
    border-color: hsl(var(--input) / 1);
  }
  
  .bg-background {
    background-color: hsl(var(--background) / 1);
  }
  
  .bg-accent {
    background-color: hsl(var(--accent) / 1);
  }
  
  .text-accent-foreground {
    color: hsl(var(--accent-foreground) / 1);
  }
  
  .ring-ring {
    --tw-ring-color: hsl(var(--ring) / 1);
  }
}